__Домашнее задание__
Проверка наличия/обработка пропусков.
Проверьте взаимосвязи между признаками.
Попробуйте создать свои признаки.
Удалите лишние.
Обратите внимание на текстовые столбцы. Подумайте, что можно извлечь полезного оттуда.
Использование профайлера вам поможет.
Не забывайте, что у вас есть PCA (Метод главных компонент). Он может пригодиться.

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('outcomes.csv')
data.head()

,age_upon_outcome,animal_id,animal_type,breed,color,date_of_birth,datetime,monthyear,name,outcome_subtype,outcome_type,sex_upon_outcome
0,2 weeks,A684346,Cat,Domestic Shorthair Mix,Orange Tabby,2014-07-07T00:00:00,2014-07-22T16:04:00,2014-07-22T16:04:00,NaN,Partner,Transfer,Intact Male
1,1 year,A666430,Dog,Beagle Mix,White/Brown,2012-11-06T00:00:00,2013-11-07T11:47:00,2013-11-07T11:47:00,Lucy,Partner,Transfer,Spayed Female
2,1 year,A675708,Dog,Pit Bull,Blue/White,2013-03-31T00:00:00,2014-06-03T14:20:00,2014-06-03T14:20:00,*Johnny,NaN,Adoption,Neutered Male
3,9 years,A680386,Dog,Miniature Schnauzer Mix,White,2005-06-02T00:00:00,2014-06-15T15:50:00,2014-06-15T15:50:00,Monday,Partner,Transfer,Neutered Male
4,5 months,A683115,Other,Bat Mix,Brown,2014-01-07T00:00:00,2014-07-07T14:04:00,2014-07-07T14:04:00,NaN,Rabies Risk,Euthanasia,Unknown

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78256 entries, 0 to 78255
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age_upon_outcome  78248 non-null  object
 1   animal_id         78256 non-null  object
 2   animal_type       78256 non-null  object
 3   breed             78256 non-null  object
 4   color             78256 non-null  object
 5   date_of_birth     78256 non-null  object
 6   datetime          78256 non-null  object
 7   monthyear         78256 non-null  object
 8   name              54370 non-null  object
 9   outcome_subtype   35963 non-null  object
 10  outcome_type      78244 non-null  object
 11  sex_upon_outcome  78254 non-null  object
dtypes: object(12)
memory usage: 7.2+ MB

In [11]:
data.age_upon_outcome.value_counts()

1 year       14355
2 years      11194
2 months      9213
3 years       5157
3 months      3442
1 month       3344
4 years       2990
5 years       2691
4 months      2425
5 months      1951
6 months      1897
6 years       1810
8 years       1554
7 years       1537
3 weeks       1467
2 weeks       1330
10 months     1204
4 weeks       1194
8 months      1178
10 years      1159
7 months       963
9 years        822
9 months       673
12 years       609
1 weeks        513
11 months      490
11 years       429
1 week         427
13 years       389
14 years       253
3 days         235
2 days         217
15 years       208
1 day          153
6 days         152
4 days         136
5 days         116
16 years       101
0 years         95
5 weeks         61
17 years        58
18 years        26
19 years        13
20 years        12
22 years         4
25 years         1
Name: age_upon_outcome, dtype: int64

Понятно, что age_upon_outcome  - это разница между datetime и date_of_birth. поэтому приведем даты в нормальный вид, посчитаем age_upon_outcome в днях, а столбец monthyear который полностью дублирует datetime, удалим

In [12]:
data.drop(['monthyear'], axis=1, inplace=True)

Поскольку в задание есть условие, что мы должны предсказать или Adoption, или Transfer, то остальный статусы удалим

In [13]:
data.outcome_type.value_counts()

Adoption           33112
Transfer           23499
Return to Owner    14354
Euthanasia          6080
Died                 680
Disposal             307
Rto-Adopt            150
Missing               46
Relocate              16
Name: outcome_type, dtype: int64

In [17]:
data = data.loc[data['outcome_type'].isin(['Adoption', 'Transfer'])]

In [18]:
data.head()

,age_upon_outcome,animal_id,animal_type,breed,color,date_of_birth,datetime,name,outcome_subtype,outcome_type,sex_upon_outcome
0,2 weeks,A684346,Cat,Domestic Shorthair Mix,Orange Tabby,2014-07-07T00:00:00,2014-07-22T16:04:00,NaN,Partner,Transfer,Intact Male
1,1 year,A666430,Dog,Beagle Mix,White/Brown,2012-11-06T00:00:00,2013-11-07T11:47:00,Lucy,Partner,Transfer,Spayed Female
2,1 year,A675708,Dog,Pit Bull,Blue/White,2013-03-31T00:00:00,2014-06-03T14:20:00,*Johnny,NaN,Adoption,Neutered Male
3,9 years,A680386,Dog,Miniature Schnauzer Mix,White,2005-06-02T00:00:00,2014-06-15T15:50:00,Monday,Partner,Transfer,Neutered Male
5,4 months,A664462,Dog,Leonberger Mix,Brown/White,2013-06-03T00:00:00,2013-10-07T13:06:00,*Edgar,Partner,Transfer,Intact Male

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56611 entries, 0 to 78255
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age_upon_outcome  56609 non-null  object
 1   animal_id         56611 non-null  object
 2   animal_type       56611 non-null  object
 3   breed             56611 non-null  object
 4   color             56611 non-null  object
 5   date_of_birth     56611 non-null  object
 6   datetime          56611 non-null  object
 7   name              38660 non-null  object
 8   outcome_subtype   29425 non-null  object
 9   outcome_type      56611 non-null  object
 10  sex_upon_outcome  56611 non-null  object
dtypes: object(11)
memory usage: 5.2+ MB

работаем со столбцами date_of_birth	 и datetime

In [20]:
import datetime as dt

In [34]:
data['datetime'] = pd.to_datetime(data['datetime']).dt.date
data['date_of_birth'] = pd.to_datetime(data['date_of_birth']).dt.date

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [36]:
data.head()

,age_upon_outcome,animal_id,animal_type,breed,color,date_of_birth,datetime,name,outcome_subtype,outcome_type,sex_upon_outcome
0,2 weeks,A684346,Cat,Domestic Shorthair Mix,Orange Tabby,2014-07-07,2014-07-22,NaN,Partner,Transfer,Intact Male
1,1 year,A666430,Dog,Beagle Mix,White/Brown,2012-11-06,2013-11-07,Lucy,Partner,Transfer,Spayed Female
2,1 year,A675708,Dog,Pit Bull,Blue/White,2013-03-31,2014-06-03,*Johnny,NaN,Adoption,Neutered Male
3,9 years,A680386,Dog,Miniature Schnauzer Mix,White,2005-06-02,2014-06-15,Monday,Partner,Transfer,Neutered Male
5,4 months,A664462,Dog,Leonberger Mix,Brown/White,2013-06-03,2013-10-07,*Edgar,Partner,Transfer,Intact Male

In [39]:
data['age_upon_outcome'] = (data['datetime'] - data['date_of_birth']).dt.days

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [41]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56611 entries, 0 to 78255
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age_upon_outcome  56611 non-null  int64
 1   animal_id         56611 non-null  object
 2   animal_type       56611 non-null  object
 3   breed             56611 non-null  object
 4   color             56611 non-null  object
 5   date_of_birth     56611 non-null  object
 6   datetime          56611 non-null  object
 7   name              38660 non-null  object
 8   outcome_subtype   29425 non-null  object
 9   outcome_type      56611 non-null  object
 10  sex_upon_outcome  56611 non-null  object
dtypes: int64(1), object(10)
memory usage: 5.2+ MB

поскольку информация о дате рождения и времени покидания приюта есть в столбце age_upon_outcome, то первые 2 столбца можно удалить)

In [42]:
data.drop(['date_of_birth', 'datetime'], axis=1, inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [45]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56611 entries, 0 to 78255
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age_upon_outcome  56611 non-null  int64
 1   animal_id         56611 non-null  object
 2   animal_type       56611 non-null  object
 3   breed             56611 non-null  object
 4   color             56611 non-null  object
 5   name              38660 non-null  object
 6   outcome_subtype   29425 non-null  object
 7   outcome_type      56611 non-null  object
 8   sex_upon_outcome  56611 non-null  object
dtypes: int64(1), object(8)
memory usage: 4.3+ MB

посмотрим вообще корреляцию между столбцами

In [50]:
data.head()

,age_upon_outcome,animal_id,animal_type,breed,color,name,outcome_subtype,outcome_type,sex_upon_outcome
0,15,A684346,Cat,Domestic Shorthair Mix,Orange Tabby,NaN,Partner,Transfer,Intact Male
1,366,A666430,Dog,Beagle Mix,White/Brown,Lucy,Partner,Transfer,Spayed Female
2,429,A675708,Dog,Pit Bull,Blue/White,*Johnny,NaN,Adoption,Neutered Male
3,3300,A680386,Dog,Miniature Schnauzer Mix,White,Monday,Partner,Transfer,Neutered Male
5,126,A664462,Dog,Leonberger Mix,Brown/White,*Edgar,Partner,Transfer,Intact Male

In [58]:
data.breed.value_counts()

Domestic Shorthair Mix                       20809
Pit Bull Mix                                  3509
Chihuahua Shorthair Mix                       3399
Labrador Retriever Mix                        3258
Domestic Medium Hair Mix                      2049
                                             ...
Dogue De Bordeaux                                1
Miniature Schnauzer/Australian Cattle Dog        1
Great Pyrenees/Chow Chow                         1
Cocker Spaniel/Dachshund Longhair                1
Australian Kelpie/Whippet                        1
Name: breed, Length: 1803, dtype: int64

In [59]:
data.color.value_counts()

Black/White                6111
Black                      5141
Brown Tabby                3975
Brown Tabby/White          2083
Orange Tabby               1914
                           ...
White/Tortie                  1
Calico Point/Gray             1
Blue/Silver                   1
Lynx Point/Tortie Point       1
Liver Tick/White              1
Name: color, Length: 475, dtype: int64

In [62]:
data.outcome_subtype.value_counts()

Partner    19660
Foster      5558
SCRP        3211
Snr          626
Offsite      367
Barn           3
Name: outcome_subtype, dtype: int64

столбцы outcome_subtype, sex_upon_outcome, animal_type -переведем их в значения 0 и 1 , столбец animal_id удалить

In [56]:
data.drop(['animal_id'], axis=1, inplace=True)

In [61]:
#Столбец имени тоже не несет какой-то информационной нагрузки, так как от наличия имени не зависит outcome_type
data.drop(['name'], axis=1, inplace=True)

In [63]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56611 entries, 0 to 78255
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age_upon_outcome  56611 non-null  int64
 1   animal_type       56611 non-null  object
 2   breed             56611 non-null  object
 3   color             56611 non-null  object
 4   outcome_subtype   29425 non-null  object
 5   outcome_type      56611 non-null  object
 6   sex_upon_outcome  56611 non-null  object
dtypes: int64(1), object(6)
memory usage: 3.5+ MB

Поскольку в outcome_subtype много пропусков, то там, где отсутствуют значения, заменим их медианой

In [65]:
data.outcome_subtype.fillna(data.outcome_subtype.mode()[0], inplace=True)

проверяем, остались ли пропуски

In [66]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56611 entries, 0 to 78255
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age_upon_outcome  56611 non-null  int64
 1   animal_type       56611 non-null  object
 2   breed             56611 non-null  object
 3   color             56611 non-null  object
 4   outcome_subtype   56611 non-null  object
 5   outcome_type      56611 non-null  object
 6   sex_upon_outcome  56611 non-null  object
dtypes: int64(1), object(6)
memory usage: 3.5+ MB

In [67]:
# некоторые столбцы  являются категориальными переменными
# переведем их в значения 0 и 1, добавив столбцы с соответствующими названиями
data = pd.get_dummies(data, columns = [ 'animal_type', 'sex_upon_outcome', 'outcome_subtype'] )

Поскольку breed и color имеют слишком большую вариативность, то здесь просто labelencoder

In [68]:
#осталось поработать со столбцами breed и color
# переведем значения столбцов в числа

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [69]:
le.fit( data['breed'] )
data['breed'] = le.transform( data['breed'] )

In [70]:
le.fit( data['color'] )
data['color'] = le.transform( data['color'] )

In [72]:
le.fit( data['outcome_type'] )
data['outcome_type'] = le.transform( data['outcome_type'] )

PCA

In [73]:
from sklearn.decomposition import PCA

In [74]:
from sklearn.ensemble import RandomForestClassifier as RFC

In [75]:
X = data.drop(['outcome_type'], axis=1)
Y = data.outcome_type

In [77]:
from sklearn.model_selection import train_test_split

In [80]:
p1 = PCA(n_components=0.95)
p2 = PCA(n_components=0.5)

dp1 = p1.fit_transform(X)
dp2 = p2.fit_transform(X)

In [82]:
dp1_d = train_test_split(dp1,Y, test_size=0.2)
dp2_d = train_test_split(dp2,Y, test_size=0.2)
dp = train_test_split(X,Y, test_size=0.2)

In [83]:
model = RFC()

In [84]:
for x_tr, x_ts, y_tr, y_ts in [dp1_d, dp2_d, dp]:    
    model.fit(x_tr, y_tr)
    print(f'{model.score(x_ts,y_ts)}')

0.6879802172569107
0.6882451647089994
0.6820630574935971

Из этих троих моделей лучше всех показала себя модель с PCA при n_components=0.5

Попробуем просто классификатор SGD

In [89]:
from sklearn.linear_model import SGDClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline

In [90]:
clf = make_pipeline(StandardScaler(), SGDClassifier())

In [91]:
for x_tr, x_ts, y_tr, y_ts in [dp1_d, dp2_d, dp]:    
    clf.fit(x_tr, y_tr)
    print(f'{clf.score(x_ts,y_ts)}')

0.5857105007506844
0.5859754482027731
0.5811180782478141

Намного хуже, чнм случайный лес

In [96]:
from sklearn.neighbors import KNeighborsClassifier

In [97]:
KN = KNeighborsClassifier()

In [98]:
for x_tr, x_ts, y_tr, y_ts in [dp1_d, dp2_d, dp]:    
    KN.fit(x_tr, y_tr)
    print(f'{KN.score(x_ts,y_ts)}')

0.6896582177868056
0.6999028526009008
0.689393270334717

Это модель + PCA показывает лучше результат, чем Случайный лес

Рассмотри еще логистическую регрессию

In [99]:
from sklearn.linear_model import LogisticRegression

In [100]:
LR = LogisticRegression()

In [101]:
for x_tr, x_ts, y_tr, y_ts in [dp1_d, dp2_d, dp]:    
    LR.fit(x_tr, y_tr)
    print(f'{LR.score(x_ts,y_ts)}')

0.5857105007506844
0.5859754482027731
0.5811180782478141

Дерево решений

In [102]:
from sklearn.model_selection import cross_val_score

In [103]:
from sklearn.tree import DecisionTreeClassifier

In [104]:
dtc= DecisionTreeClassifier(random_state=0)

In [105]:
for x_tr, x_ts, y_tr, y_ts in [dp1_d, dp2_d, dp]:  
    dtc.fit(x_tr, y_tr)
    print(f'{dtc.score(x_ts,y_ts)}')

0.6896582177868056
0.6897465336041685
0.6840943212929436

Таким образом, лучше всех сработала модель случайного дерева + PCA  - 69,99%